<div class="height: 30%;">
  <h1 style="text-align: center;margin-top: 20px;margin-bottom: 20px;">About</h1>
</div>
<div class="height: 70%;" style="margin-right: 5%;margin-left: 5%;">
  <h5 style="margin-top: 20px;">Vision innovation and research laboratory was setup by a group of people moving forward ahead into more advanced testing techniques, provide more accurate results. Experienced engineer with actual industrial knowledge into plastic and metal, also mostly experienced into testing and with through understanding based on present industrial requirement which is in need of closer results to success. We are willful people with ambition and perseverance to put all the effort in providing repeatable and reproducible results.</h5>
  <br>
  <h5 style="margin-top: 20px;">Setup in 2021, Vision Research and Innovation Laboratory (VRIL)  an industrial laboratory situated at Peenya 2nd phase, Bengaluru. The organization is promoted by the team of well qualified professionals with good experience and expertise in failure analysis, reverse engineering, metallurgical evaluation, mechanical testing, chemical testing, water testing, polymer testing. Our laboratory is equipped with state-of-the-art machinery inline with international standards, thus providing our client accurate and reliable results.</h5>
  <br>
  <div style="border: 2px solid black;background-color: black;color: white;">
  <h4 style="font-style: italic;text-align: center;font-family: 'Times New Roman', Times, serif;"><strong>Mission</strong> - Engage every level of the organization to achieve the highest quality, customer care and respect. Results will be achieved through crystal clear expectations, execution and active management.</h4>
  <br>
  <h4 style="font-style: italic;text-align: center;font-family: 'Times New Roman', Times, serif;"><strong>Vision</strong> - The vision of VRIL is to support the clients in meeting product compliance / testing requirements with highest quality service and assist companies to build reputation and to excel buyer quality expectations in the products.</h4>
  </div>
</div>
