<div style="background-color: aliceblue;">
<h1 style="text-align: center;margin-top: 20px;margin-bottom: 20px;">Services</h1>
<div class="container">
  <div class="row" style="height:250px;">
    <div class="col-lg-4 centered-parent" style="height:100%;" id="Chemical Testing" name="Chemical Testing" (click)="openDialog($event.target.src)">
      <img src="../../assets/images/chemical-testing.jpg" class="img-responsive" style="width:100%;height:100%;"/>
      <div><h4>Chemical Testing</h4></div>
    </div>
    <div class="col-lg-4 centered-parent" style="height:100%;" id="Mechanical Testing" name="Mechanical Testing" (click)="openDialog($event.target.src)">
      <img src="../../assets/images/mechanical-testing.jpg" class="img-responsive" style="width:100%;height:100%;"/>
      <div><h4>Mechanical Testing</h4></div>
    </div>
    <div class="col-lg-4 centered-parent" style="height:100%;" (click)="openDialog($event.target.src)">
      <img src="../../assets/images/water-testing.jpg" id="Water Testing" name="Water Testing" class="img-responsive" style="width:100%;height:100%;"/>
      <div><h4>Water Testing</h4></div>
    </div>
  </div>
  <br>
  <br>
  <div class="row" style="height:250px;">
    <div class="col-lg-4 centered-parent" style="height:100%;">
      <img src="../../assets/images/metallurgical-testing.jpg" id="Metallurgical Testing" name="Metallurgical Testing" class="img-responsive" style="width:100%;height:100%;filter: blur(8px);-webkit-filter: blur(8px);"/>
      <div class="centered"><h4>Coming Soon</h4></div>
      <div><h4>Metallurgical Testing</h4></div>
    </div>
    <div class="col-lg-4 centered-parent" style="height:100%;" (click)="openDialog($event.target.src)">
      <img src="../../assets/images/polymer-testing.jpg" id="Polymer Testing" name="Polymer Testing" class="img-responsive" style="width:100%;height:100%;"/>
      <div><h4>Polymer Testing</h4></div>
    </div>
    <div class="col-lg-4 centered-parent" style="height:100%;" (click)="openDialog($event.target.src)">
      <img src="../../assets/images/special-testing.jpg" id="Special Testing" name="Special Testing" class="img-responsive" style="width:100%;height:100%;"/>
      <div><h4>Special Testing</h4></div>
    </div>
  </div>
</div>
<br style="color: aliceblue;">
</div>
