<h1 style="text-align: center;margin-top: 20px;margin-bottom: 20px;">Team</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
    <div class="col-lg-4" style="display: block; margin: 0 auto;">
      <img class="img-responsive" src="../assets/images/person_placeholder.jpg" style="width:100%;height:250px;">
    </div>
    <div class="col-lg-8">
      <h5 style="margin-top: 20px;">Arvind P a Mechanical Engineer is the current CEO and Founder of VRIL. He holds a Laboratory Experience of 4 years and Industrial Experience of 1 year.</h5>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="col-lg-4" style="display: block; margin: 0 auto;">
      <img class="img-responsive" src="../assets/images/person_placeholder.jpg" style="width:100%;height:250px;">
    </div>
    <div class="col-lg-8">
      <h5 style="margin-top: 20px;">Harsha K H a Mechanical Engineer is a Co-Founder of VRIL. He holds a Laboratory Experience of 1 year and Product Design Experience of 3 years.</h5>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
    <div class="col-lg-4" style="display: block; margin: 0 auto;">
      <img class="img-responsive" src="../assets/images/person_placeholder.jpg" style="width:100%;height:250px;">
    </div>
    <div class="col-lg-8">
      <h5 style="margin-top: 20px;">Anniya is a Co-Founder of VRIL.</h5>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="col-lg-4" style="display: block; margin: 0 auto;">
      <img class="img-responsive" src="../assets/images/person_placeholder.jpg" style="width:100%;height:250px;">
    </div>
    <div class="col-lg-8">
      <h5 style="margin-top: 20px;">Vinod K a Mechanical Engineer is a Co-Founder of VRIL. He holds a Laboratory Experience of 1 year and IT Infrastructure Experience of 3 years.</h5>
    </div>
  </div>
  </div>
</div>
<hr>
